.article__img {
  height: 20rem;
  width: 25rem;
  position: relative;
  outline: 1px red solid;
  background-size: cover;

  clip-path: circle(40% at 50% 50%);
  -webkit-clip-path: circle(40% at 50% 50%);
}


.related{
  height: 80vh;
  width: 100%;
  display: flex;
  flex-direction: column;

  &__articles{
    display: flex;
    flex-direction: row;
    gap: 1rem;

  }

}