@layer base {
  .blog__nav {
    & > li {
      transition: all 0.5s ease-in-out;
      // border-radius: 25px;
      // color: black;
      z-index: 1;
      @apply p-1 px-2 relative rounded-full text-black dark:text-white;

      &::before {
        content: "";
        transition: all 0.5s ease-in-out;
        z-index: -1;
        @apply absolute opacity-0 rounded-full h-full w-0 top-0 left-0 bg-slate-900 dark:bg-slate-100;
      }

      &:hover {
        @apply text-white dark:text-slate-900;
        &::before {
          opacity: 1;
          @apply absolute opacity-100 rounded-full h-full w-full top-0 left-0 bg-slate-900 dark:bg-slate-100;
        }
      }
    }
  }
}


.article__img-container{
    
}
