@layer base {
  .btn {
    font-family: "Montserrat";
    @apply text-white dark:text-slate-900 flex flex-col items-center justify-center bg-slate-600 dark:bg-slate-300 text-lg p-1 hover:shadow-md rounded hover:shadow-black dark:hover:shadow-none active:translate-y-[1px];
  }
  .btn-subscribe {
    font-family: "Montserrat";
    @apply w-2/3 font-bold;
  }

  .btn-connect {
    @apply p-2 mt-6 rounded-full;
  }

  .slider__btn {
    @apply text-xl text-white dark:text-slate-700 h-full w-8 m-auto rounded-full bg-slate-600 dark:bg-slate-300;
  }

  .dark-mode-label {
    transition: all 0.5s ease-in-out;
    @apply relative w-[6em] h-[2.5em] bg-slate-800 justify-end flex flex-row overflow-hidden  rounded-full cursor-pointer;
    &::before {
      content: "Light";
      transition: all 0.5s ease-in;
      @apply absolute text-black text-left opacity-100 pl-2  flex flex-col justify-center  h-full w-full top-0  rounded-full bg-slate-100 transition-all duration-500;
    }
    &::after {
      content: "Dark";
      transition: all 0.5s ease-in;
      transform: translateX(100%);
      @apply absolute invisible text-right flex flex-col justify-center pr-4  h-full w-full top-0 left-auto rounded-full bg-slate-800 text-white transition-all duration-500;
    }

   

  }
  .dark-mode-input {
    transition: all 0.5s ease-in-out;
    opacity: 0;
    display: none;
    @apply relative bg-slate-800 invisible;

    &:checked + label {
        @apply justify-start bg-white;
      &::before {
        // width: 0;
        transform: translateX(-100%);
        visibility: hidden;
      }
      &::after {
        width: 100%;
        transform: translateX(0%);
        visibility: visible;
      }

      .dot{
        // background-color: red !important;
        @apply  bg-gradient-to-bl from-slate-600 via-slate-100 to-slate-50 -translate-x-1;
      }
    }
  }



  .dot{
    transition: color .5s ease-in-out;
      @apply  absolute translate-x-1 bg-gradient-to-br from-stone-400 via-stone-800 to-stone-900 h-[2.5em] w-[2.5em] rounded-full z-20;
  
  }

}
