

*, *::before, *::after{
    font-family: "Montserrat";
}

@layer base{

    //TEXT
    .text-header{
        @apply text-2xl font-bold mb-4 text-slate-600 dark:text-slate-100 ;
    } 
    .text-regular{
        @apply text-base text-black dark:text-white;
    }
    .text-light{
        @apply text-gray-600 text-lg font-light;
    }
    .text-tiny{
        @apply text-[12px] text-gray-600;
    }
    .text-footer{
        @apply font-bold text-black text-base dark:text-white;
    }
    .blog-title-card{
        @apply text-xl font-extralight;
    }
    .blog-text-card{
        @apply text-base text-black;
    }
    .blog-title{
        @apply text-3xl text-slate-600 dark:text-slate-100;
    }
    .blog-text{
        @apply text-base text-black dark:text-slate-100;
    }
    .blog-nav-text {
        @apply text-base text-black dark:text-slate-100;
    }
    .text-nav{
        @apply text-sm text-black ;
    }
}

.text-clamp{
font-size: clamp(1rem, 100%, 1.1rem);
width: clamp(80%, 60vw, 90%);
}