.test{
    background-color: lightblue;
    outline: 1px solid red;
}

.section{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 4rem;
    margin-bottom: 4rem;
    align-items: center;
}

.hidden{    
    visibility: none;
    opacity: 0;
}

.recent__article{
    transition: all 2s ease-out;
    cursor: pointer;
}


@layer components{
    .page-content{
        @apply px-32 ;
    }

    .cta__input{
        font-family: 'Montserrat';
        @apply border-slate-900 text-base text-black border-solid border-[1px] w-2/5 outline-none p-1 rounded focus:shadow-sm focus:shadow-black;
    }
}